
<mat-sidenav-container>
  <mat-sidenav color="primary" #apm_sidenav>
    <div class="mat-sidenav__title">
        Kings of APM
    </div>
    <div class="search-bo">
      <mat-form-field>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <div class="test-list-box">
      <div class="test-list-box__section">
        <div class="test-list-box__section-title test-list-box__section-title--terran">
          Terran
        </div>
        <div class="test-list-box__section-content">
          <mat-card>
            <mat-card-title>
              Bo Terran 1
            </mat-card-title>
            <mat-card-content>
              Descreiption de la mission
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Tester</button>
            </mat-card-actions>
          </mat-card>
          <mat-card>
              <mat-card-title>
                Bo Terran 1
              </mat-card-title>
              <mat-card-content>
                Descreiption de la mission
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Tester</button>
              </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>
                  Bo Terran 1
                </mat-card-title>
                <mat-card-content>
                  Descreiption de la mission
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Tester</button>
                </mat-card-actions>
              </mat-card>
              <mat-card>
              <mat-card-title>
                Bo Terran 1
              </mat-card-title>
              <mat-card-content>
                Descreiption de la mission
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Tester</button>
              </mat-card-actions>
            </mat-card>
            <mat-card>
              <mat-card-title>
                Bo Terran 1
              </mat-card-title>
              <mat-card-content>
                Descreiption de la mission
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Tester</button>
              </mat-card-actions>
            </mat-card>
            <mat-card>
              <mat-card-title>
                Bo Terran 1
              </mat-card-title>
              <mat-card-content>
                Descreiption de la mission
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Tester</button>
              </mat-card-actions>
            </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="apm_sidenav.open()">
        <mat-icon >reorder</mat-icon>
    </button>
    <span class="toolbar__title">Kings of APM</span>
  </mat-toolbar>
  <div class="apm__content">
      <app-luncher></app-luncher>
      <app-keyboard></app-keyboard>
  </div>
</mat-sidenav-container>